<div class="mt4 mb3 w4 center">
  <a href="http://redcloud.com.ar">
    <img alt="" border="0" width="auto" alt="{{_accountInfo.TradingName}}" src="https://redcloudone.vtexassets.com/assets/vtex.file-manager-graphql/images/5fa40cfb-0742-44e7-a5f9-361eacce8e65___1f019fb496cbfcc135c518f9dfa9894a.png" style="max-height: 80px">
  </a>
</div>
