((i18n.common.lowercase.on))
<div class="fw7">
  {{formatDate deliveryWindow.startDateUtc}}
</div>
<div>
  ((i18n.common.lowercase.between))
  {{formatTime deliveryWindow.startDateUtc}}
  ((i18n.common.lowercase.and))
  {{formatTime deliveryWindow.endDateUtc}}
</div>
