<p>
  ((i18n.common.contactUs))<br />
  ((i18n.common.email)): <a href="mailto:((i18n.common.contactEmail))">((i18n.common.contactEmail))</a><br />
  ((i18n.common.phone)): <a href="tel:((i18n.common.contactPhone))">((i18n.common.contactPhone))</a>
</p>
<p>
  ((i18n.common.regards))<br />
  ((i18n.common.team)) {{_accountInfo.TradingName}}<br />
</p>
